PUID=1000
PGID=1000
TZ=Europe/Zagreb

CONFIG_ROOT=/opt/media-stack/config
MOVIES_DISK=/mnt/disks/toshiba2tb
TV_DISK=/mnt/disks/wd1tb

CLOUDFLARE_TUNNEL_TOKEN=

RADARR_API_KEY=
SONARR_API_KEY=

DASHBOARD_JELLYFIN_API_KEY=
DASHBOARD_ACCESS_TEAM_DOMAIN=
DASHBOARD_ACCESS_AUD=
