ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="sd?", ENV{ID_SERIAL_SHORT}=="<wd-serial>", ATTR{queue/scheduler}="bfq", ATTR{queue/read_ahead_kb}="4096"
ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="sd?", ENV{ID_SERIAL_SHORT}=="<toshiba-serial>", ATTR{queue/scheduler}="bfq", ATTR{queue/read_ahead_kb}="4096"
